<!--Reference (Mentioned with thanks): http://teknosains.com/i/simple-crud-nodejs-mysql
Edited by Tharindu Weerasinghe-->

<%- include layouts/header.ejs %>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
        <div class="page-data">
         <div class="data-btn">
           <button onClick="addEmployee();">+ Add New</button>
	   <button onClick="listPastEmployees();">Past Employees</button>
           <button onClick="listInvItems();">Go to Inventory</button>
           <button onClick="listProjects();">Go to Projects</button>
         </div>
         <div class="data-table">
            <table border="5" cellpadding="7.5" cellspacing="12">
                <tr>
                    <th width="50px">Employee No</th>
                    <th>Name</th>
		    <th>NIC</th>
		    <th>Designation</th>
                    <th>Home Address</th>
                    <th>Phone</th>
                    <th>Email</th>
		    <th>Remaning Leaves</th>
		    <th>Expertise</th>
		    <th width="125px">Joined Date</th>
		    <th width="125px">Last Increment Date</th>
		    <th width="125px">Birthday</th>
                    <th width="125px">Actions</th>
                </tr>
                               
                <% if(data.length){ 
                                
                 for(var i = 0;i < data.length;i++) { %>
                 
                <tr>
                    <td><%=data[i].empid%></td>
                    <td><%=data[i].name%></td>
	            <td><%=data[i].nic%></td>
		    <td><%=data[i].designation%></td>
                    <td><%=data[i].homeaddress%></td>
                    <td><%=data[i].phone%></td>
                    <td><%=data[i].email%></td>	
		    <td><%=data[i].leaves%></td>
		    <td><%=data[i].expertise%></td>	    
		    <td><%=data[i].joineddate%></td>
		    <td><%=data[i].lastincrementdate%></td>
		    <td><%=data[i].dateofbirth%></td>
                    <td>
                        <a class="a-inside edit" href="../employees/edit/<%=data[i].empid%>">Edit</a>   
                        <br/>   
			<br/>                      
                        <a class="a-inside delete" href="../employees/delete/<%=data[i].empid%>" onclick="return confirm('Are you sure you want to delete this Employee?');">Delete</a>
			<br/>	
			<br/>		
			<a class="a-inside inv" href="../employees/inventory/<%=data[i].empid%>">Items Used</a>
			<br>                       
                    </td>
                </tr>
            <% }
            
             }else{ %>
                 <tr>
                    <td colspan="11">No current employees as of now!</td>
                 </tr>
            <% } %>
                
                              
                
            </table>
         </div>
        </div>
        
<%- include layouts/footer.ejs %>
